In [1]:
import pandas as pd
df1 = pd.read_json('./product.json')
df1

                                                data
0  {'name': 'Hamburger', 'price': '4', 'url': '/i...
1  {'name': 'Noodle', 'price': '3', 'url': '/imag...
2  {'name': 'Pizza', 'price': '4', 'url': '/image...
3  {'name': 'Sting', 'price': '.5', 'url': '/imag...
4  {'name': 'Cơm Rang', 'price': '2', 'url': '/im...
5  {'name': 'Xúc Xích', 'price': '1', 'url': '/im...